<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#/">The Family</a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li><a href="#/">Home</a></li>
      <li><a href="#/images">Characters</a></li>
      <li><a href="#/images/add">Add a Character</a></li>

    </ul>
    <ul class="left">
      <li><a href="http://charlierablah.tripod.com/doncharlionysmafiasite/id11.html">Talk like a Gangster</a></li>
      <li><a href="https://www.mensusa.com/Gangster-suits/Gangster-suits.html">Shop: Clothes</a></li>
      <li><a href="http://www.limos.com/">Rides</a></li>
      <li><a href="https://www.zagat.com/l/new-york-city/best-italian-restaurants-in-nyc">Manga</a></li>
      <li><a href="http://www.usmarshals.gov/witsec/">In a jam?</a></li>
      
   



    </ul>
  </section>
</nav>




<section class="container" ui-view></section>